<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body class="bg-light">
<nav th:replace="fragments.html :: nav">
</nav>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <!-- Avatar -->
            <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${account.email}" width="125" height="125"></svg>
            <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:src="${account.profileImage}"
                 width="125" height="125"/>
        </div>
        <div class="col-8">
            <h2 class="display-4" th:text="${account.nickname}"></h2>
            <hr>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="true">소개</a>
                <a class="nav-link" id="v-pills-pills-tab" data-toggle="pill" href="#v-pills-ordersProduct"
                   role="tab" aria-controls="v-pills-ordersProduct" aria-selected="false">주문목록</a>
                <a class="nav-link" id="v-pills-pills-tab-end" data-toggle="pill" href="#v-pills-product"
                   role="tab" aria-controls="v-pills-product" aria-selected="false">주문완료</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <!--
                    <p th:if="${!#strings.isEmpty(account.url)}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-link col-1"></i>
                        </span>
                        <span th:text="${account.url}" class="col-11"></span>
                    </p>
                    <p th:if="${!#strings.isEmpty(account.occupation)}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-briefcase col-1"></i>
                        </span>
                        <span th:text="${account.occupation}" class="col-9"></span>
                    </p>
                    <p th:if="${!#strings.isEmpty(account.location)}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-location-arrow col-1"></i>
                        </span>
                        <span th:text="${account.location}" class="col-9"></span>
                    </p>
                    -->
                    <p th:if="${isOwner}">
                        <span style="font-size: 20px;">
                            <i class="fas fa-envelope col-1"></i>
                        </span>
                        <span th:text="${account.email}" class="col-9"></span>
                    </p>
                    <p th:if="${isOwner}">
                        <span style="font-size: 20px;">
                            <i class="farc fa-smile col-1"></i>
                        </span>
                        <span class="col-9" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</span>
                        <span class="col-9" th:if="${#strings.isEmpty(account.bio) && isOwner}"></span>
                    </p>
                    <!--
                    <p th:if="${isOwner || account.emailVerified}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-calendar-o col-1"></i>
                        </span>
                        <span th:if="${isOwner && !account.emailVerified}" class="col-9">
                            <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                        </span>
                        <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}" class="col-9"></span>
                    </p>
                    -->
                    <div th:if="${isOwner}">
                        <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-ordersProduct" role="tabpanel" aria-labelledby="v-pills-ordersProduct">
                    <!-- container -->
                    <div class="container">
                        <div th:replace="fragments.html::ordersProduct-card"></div>
                        <div class="card card-outline-secondary my-4">
                            <div class="card-header">
                                결제확인
                            </div>
                            <div class="card-body">

                                <form class="needs-validation col-12" action="#"
                                       th:action="@{/orders/} + ${nickname} + @{/add}" method="post" novalidate>
                                    <div class="form-group">
                                        <button th:if="${!#strings.isEmpty(product)}" class="btn btn-success">결제</button>
                                        <button th:if="${#strings.isEmpty(product)}" class="btn btn-danger" disabled>결제</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <div class="tab-pane fade" id="v-pills-product" role="tabpanel" aria-labelledby="v-pills-product-tab">
                    <!-- container -->
                    <div class="container">
                        <div th:replace="fragments.html::orders-card"></div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    (function () {

    }())
</script>
</body>
</html>