<!DOCTYPE html>
<html lang="en">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<body class="bg-light">
<nav th:replace="fragments.html :: nav">
</nav>

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">환영합니다</h1>
    <p class="lead">저렴한 가격에 상품을 구입하세요</p>
    <a href="#" th:href="@{/board/main}" class="btn btn-primary btn-lg">지금 보러 가세요</a>
</header>

<!--    <footer th:fragment="footer">-->
<!--        <div class="row justify-content-center">-->
<!--            <img class="mb-2" src="/images/logo_long_kr.jpg" alt="" width="100">-->
<!--            <small class="d-block mb-3 text-muted">&copy; 2020</small>-->
<!--        </div>-->
<!--    </footer>-->
</div>
<script type="application/javascript">
    (function () {

    }())
</script>
</body>
</html>